.row
  .col-lg-12
    h1.page-header Summary
.row
  .col-lg-12
    ul
      li 
        span Data updated on 
        strong= new Date(updated).toUTCString()
      li
        strong= count.allpatients + ' ' 
        span patients (of which 
        strong= count.activepatients + ' ' 
        span active)
        ul
          - for(var id in count.dischargedpatients)
            li
              strong= count.dischargedpatients[id]
              span= " " + id
      - if(count.locations || count.physios || count.diagnoses || count.prescriptions)
        li
          span= (count.locations ? count.locations + ' locations, ' : '') + (count.physios ? count.physios + ' physios, ' : '') + (count.prescriptions ? count.prescriptions + ' prescriptions, ' : '') + (count.diagnoses ? count.diagnoses + ' diagnoses' : '')
      - if(diagnostic)
        - var ks = Object.keys(diagnostic)
        - if(ks.length>0)
            li
              span Diagnostics
                - if(diagnostic[ks[0]]==="NA")
                  ul
                    li
                      span When you have more than 0 patients, stats will appear here about how complete their records are
                - else
                  ul
                    - for(var k in diagnostic)
                      li
                        span= (+diagnostic[k]).toFixed(1) + "% of " + k + " fields completed"
.row
  .col-lg-12
    h1.page-header Top 10
.row
  .col-lg-6
    .chart-title
    canvas#chartTop0
  .col-lg-6
    .chart-title
    canvas#chartTop1
.row
  .col-lg-12
    a(href="#top10") Show more...
.row
  .col-lg-12
    h1.page-header Distributions
.row
  .col-lg-6
    .chart-title
    canvas#chartDist0
  .col-lg-6
    .chart-title
    canvas#chartDist1
.row
  .col-lg-12
    a(href="#distributions") Show more...
